<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/reset_password.css')}}">
    <title>Reset</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/sendpass" method="post">
        {{success}}
        {{erro}}
        <h1>Resetar Senha</h1>
        <input type="password" name="pass" id="" placeholder="Insira uma nova senha" required>
        <input type="password" name="confirm_pass" id="" placeholder="Confirme a nova senha" required>
        <input type="hidden" name="token" value="{{token}}" />
        <button>Resetar Senha</button>
    </form>
    <script src="{{url_for('static', filename='functions/reset_password.js')}}"></script>
</body>
</html>